@page
@using Microsoft.AspNetCore.Identity;
@using ForumWeb.Areas.Identity.Data;
@model IndexModel
@inject SignInManager<ForumWebUser> SignInManager
@inject UserManager<ForumWebUser> UserManager


@{
    ViewData["Title"] = "Home page";
}


@if (SignInManager.IsSignedIn(User))
{
    <p>Du är inloggad som @User.Identity.Name</p>
}
else
{
    <p>Logga in för att göra inlägg</p>
}


<div class="row">
    <div class="col-12">
        <h1>Kaans Forum</h1> <br />

        @foreach (var category in Model.Categories)
        {
            <a asp-page="SubCatPage" asp-route-categoryId="@category.Id"> <h5>@category.Text</h5> </a>
        }


    </div>
</div>

