@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <h1>Kaans Forum</h1> <br />

        @foreach (var category in Model.Categories)
        {
            <a asp-page="SubCatPage" asp-route-categoryId="@category.Id"> <h5>@category.Text</h5> </a>
        }


    </div>


</div>
