@page
@using Microsoft.AspNetCore.Identity;
@using ForumWeb.Areas.Identity.Data;
@inject SignInManager<ForumWebUser> SignInManager
@inject UserManager<ForumWebUser> UserManager
@model ForumWeb.Pages.MessageUserModel
@{
}



<div class="container">
    @foreach (var item in Model.MessageList.OrderBy(i => i.Date))
    {

        <div class="card" style="height:150px; width:800px">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">

                        <p>From user: @item.FromUser.NickName</p>
                        <p>Date: @item.Date</p>
                        <p>Message: @item.Text</p>
                        <br /> <br />
                    </div>
                </div>
            </div>
        </div>
    }

</div>



