@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h2>What are Cookies?</h2>
    <p>
        Cookies are small text files that can be stored on a User’s computer, tablet or mobile device (“Computer”) when you visit a website. 
        A cookie will typically contain the name of the originating domain, the lifetime of the cookie, and a randomly generated unique number or other value.

    </p>
    <p>
        Cookies used by this forum identify you as a unique user by means of a tracking ID.
        The cookie itself is anonymous and does not contain any Personal Data, except when such information has been supplied by you, such as when you provide your name and email address when completing a registration form.
    </p>

    <h2>GDPR and your privacy rights</h2>
    <p>
        The General Data Protection Regulation (“GDPR”), (Regulation (EU) 2016/679) creates some new rights for European Union residents and strengthens some existing data protection rights.
    </p>
</div>
